body{
    font-family: 'Poppins', sans-serif;
    background-image: url(images/bg.jpg);
}
h1{
    font-size: 50px;
}
h3{
    font-size: 50px;
}
p{
    font-size: 20px;
}
.gray-color{
    color: gray;
}
.green-color{
    color: green;
}
section{
    display: flex;
}
.half-width{
    width: 60%;
    padding-left: 5%;
    padding-right: 2%;
}.half-width img{
    width: 140%
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(salmon,tomato);
    color: white;
    font-weight: 700;
    padding: 10px 40px;
    border-radius: 5px;
}
